version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: dramatiq-redis
    volumes:
      - redis_data:/data
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD} --bind 0.0.0.0 --port ${REDIS_PORT:-6380}
    ports:
      - "${REDIS_PORT:-6380}:${REDIS_PORT:-6380}"
    profiles:
      - redis

  consumer-email:
    build: .
    container_name: consumer-email
    command: python app.py consumer email
    environment:
      - CONTEXT_NAME=email
      - LOG_DIR=/app/logs
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT:-6380}
      - REDIS_DB=${REDIS_DB:-0}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ./logs/email:/app/logs
    restart: unless-stopped
    profiles:
      - email

  consumer-data:
    build: .
    container_name: consumer-data
    command: python app.py consumer data
    environment:
      - CONTEXT_NAME=data
      - LOG_DIR=/app/logs
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT:-6380}
      - REDIS_DB=${REDIS_DB:-0}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ./logs/data:/app/logs
    restart: unless-stopped
    profiles:
      - data

  consumer-report:
    build: .
    container_name: consumer-report
    command: python app.py consumer report
    environment:
      - CONTEXT_NAME=report
      - LOG_DIR=/app/logs
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT:-6380}
      - REDIS_DB=${REDIS_DB:-0}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ./logs/report:/app/logs
    restart: unless-stopped
    profiles:
      - report

volumes:
  redis_data: